.cycle-slideshow {
  width: 100%;
}

.cycle-slideshow img {
  width: 100%;
  height: auto;
  min-height: 240px;
  object-fit: cover;
}

.slideshow-wrapper {
  position: relative;
  z-index: -1000;
}

.slide-overlay {
  bottom: 0;
  height: 200px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  z-index: 100;
}

